<h1>Suppliers</h1>

<mat-spinner *ngIf="!suppliers"></mat-spinner>

<button mat-flat-button color="primary"
        class="btn-add" *ngIf="suppliers" [routerLink]="['/supplier']">
  Add Supplier
</button>

<mat-form-field [hidden]="!suppliers">
  <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
         placeholder="Filter by name..." />
</mat-form-field>

<table mat-table [dataSource]="suppliers" [hidden]="!suppliers" class="mat-elevation-z8"
       matSort (matSortChange)="loadData()" [matSortActive]="defaultSortColumn" [matSortDirection]="defaultSortOrder">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let supplier"><a [routerLink]="['/supplier', supplier.supplierId]">{{ supplier.name }}</a></td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let supplier">{{ supplier.address }}</td>
  </ng-container>
  <ng-container matColumnDef="province">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Province</th>
    <td mat-cell *matCellDef="let supplier">{{ supplier.province }}</td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
    <td mat-cell *matCellDef="let supplier">{{ supplier.phone }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let supplier">{{ supplier.email }}</td>
  </ng-container>
  <ng-container matColumnDef="totalProducts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Products</th>
    <td mat-cell *matCellDef="let supplier">{{ supplier.totalProducts }}</td>
  </ng-container>
  <ng-container matColumnDef="kebabMenu">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let supplier">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="kebab">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDelete(supplier.supplierId)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [hidden]="!suppliers"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons></mat-paginator>
