<div class="supplier-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !supplier"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address:</mat-label>
      <input matInput formControlName="address" required placeholder="Type an address" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Province:</mat-label>
      <input matInput formControlName="province" required placeholder="Type a province" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone:</mat-label>
      <input matInput formControlName="phone" required placeholder="Type a phone number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" required placeholder="Type an email" />
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" type="submit">{{this.id ? "Save" : "Create"}}</button>
      <button mat-flat-button color="secondary" [routerLink]="['/suppliers']">Cancel</button>
    </div>

  </form>
</div>
